apiVersion: secrets.infisical.com/v1alpha1
kind: InfisicalSecret
metadata:
  name: mcp-coroot-credentials
  namespace: mcp-servers
  labels:
    app: coroot-mcp
spec:
  hostAPI: https://app.infisical.com/api
  authentication:
    universalAuth:
      credentialsRef:
        secretName: universal-auth-credentials
        secretNamespace: infisical-operator-system
      secretsScope:
        projectSlug: prod-homelab-y-nij
        envSlug: prod
        secretsPath: /monitoring/coroot
  managedSecretReference:
    secretName: mcp-coroot-credentials
    secretNamespace: mcp-servers
    secretType: Opaque
    creationPolicy: Owner
