---
# S3 credentials for Garage backend
apiVersion: secrets.infisical.com/v1alpha1
kind: InfisicalSecret
metadata:
  name: backrest-s3-credentials
  namespace: backrest
spec:
  hostAPI: https://app.infisical.com/api
  authentication:
    universalAuth:
      credentialsRef:
        secretName: universal-auth-credentials
        secretNamespace: infisical-operator-system
      secretsScope:
        projectSlug: prod-homelab-y-nij
        envSlug: prod
        secretsPath: /backups/garage
  managedSecretReference:
    secretName: backrest-s3-credentials
    secretNamespace: backrest
    secretType: Opaque
    creationPolicy: Owner
