---
apiVersion: secrets.infisical.com/v1alpha1
kind: InfisicalSecret
metadata:
  name: pulse-credentials
  namespace: monitoring
spec:
  hostAPI: https://app.infisical.com/api
  resyncInterval: 60
  authentication:
    universalAuth:
      credentialsRef:
        secretName: universal-auth-credentials
        secretNamespace: infisical-operator-system
      secretsScope:
        projectSlug: prod-homelab-y-nij
        envSlug: prod
        secretsPath: /observability/pulse
  managedSecretReference:
    secretName: pulse-credentials
    secretType: Opaque
    secretNamespace: monitoring
    creationPolicy: Owner
