---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: coroot-config
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "2"
spec:
  project: monitoring
  source:
    repoURL: https://github.com/charlieshreck/monit_homelab.git
    targetRevision: main
    path: kubernetes/platform/coroot-config
    directory:
      recurse: false
  destination:
    server: https://10.30.0.20:6443
    namespace: coroot
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=false  # Namespace created by Terraform
