---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: grafana-image-renderer
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "4"
spec:
  project: monitoring
  source:
    repoURL: https://github.com/charlieshreck/monit_homelab.git
    targetRevision: main
    path: kubernetes/applications/grafana-image-renderer
  destination:
    server: https://10.30.0.20:6443
    namespace: monitoring
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
