# Patch for system:talos-nodes ClusterRole to allow nodes list/watch
# Required for Kubernetes Pull Controller (kubelet image GC)
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: system:talos-nodes
  labels:
    kubernetes.io/bootstrapping: rbac-defaults
rules:
- apiGroups:
  - discovery.k8s.io
  resources:
  - endpointslices
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - nodes
  verbs:
  - get
  - list
  - watch
