---
apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-victorialogs-datasource
  namespace: monitoring
  labels:
    grafana_datasource: "1"
data:
  victorialogs-datasource.yaml: |-
    apiVersion: 1
    datasources:
    - name: "VictoriaLogs"
      type: prometheus
      uid: victorialogs
      url: http://victoria-logs-victoria-logs-single-server.monitoring:9428/select/logsql
      access: proxy
      isDefault: false
      editable: true
      jsonData:
        httpMethod: POST
        timeInterval: 30s
        customQueryParameters: "_stream_fields=cluster,namespace,pod,container,node"
